<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    
    <NavLink class="nav-link" href="emoji">
        <span class="oi oi-smile" aria-hidden="true"></span> Emoji Translator
    </NavLink>

</Router>